<div class="row">
  <div class="center">
        <h3 id="logo-three"><u>Social Media</u></h3>
  </div>
</div>

<div class="row">
      
      <div class="col-md-6">
          <ul>
            <h4>Social Media Account Creation</h4>
            <li><strong>1 account:</strong> $5</li>
            <li><strong>2 accounts:</strong> $9</li>
            <li><strong>3 accounts:</strong> $13</li>
            <li><strong>4 accounts:</strong> $15</li>
          </ul>
      </div>
        
      
      <div class="col-md-6">
          <ul>
            <h4>Social Media Account Curation(per account)</h4>
            <li><strong>1 week:</strong> $20</li>
            <li><strong>2 weeks:</strong> $38</li>
            <li><strong>3 weeks:</strong> $58</li>
            <li><strong>4 weeks:</strong> $78</li>
          </ul>
      </div> 
      
    </div>