    <div class="row">
      <div class="center">
        <h3 id="logo-three"><u>Website & SEO Improvement</u></h3>
      </div>
    </div>
    
    <div class="row">
      
      <div class="col-md-6">
          <ul>
            <strong><h4>SEO Analysis & Improvement:</h4></strong>
            <li><strong>Website Analysis:</strong> Free(up to 10 pages)</li>
            <li><strong>SEO Update(per page):</strong> $15</li>
            <li><strong>New SEO Implementation(per page):</strong> $20</li>
          </ul>
      </div>
      
      <div class="col-md-6">
          <ul>
            <strong><h4>Website Optimization:</h4></strong>
            <li><strong>Front end website changes:</strong> $45/hr</li>
            <li><strong>Back end website changes(Ruby on Rails only):</strong> $85/hr</li>
          </ul>
      </div> 
      
    </div>