<h4>SEO Analysis & Improvement includes:</h4>
        <ul>
            <li><strong>Preliminary SEO analysis for your full website</strong></li>
            <li><strong>Improvement of out dated SEO practices</strong></li>
            <li><strong>Implementation of current best SEO practices</strong></li>
            <li><strong>Creation of linked social media accounts</strong></li>
            <li><strong>Social media integration in order to create orgainc backlinks and website visits</strong></li>
        </ul>
        &nbsp;