        <div class="center">
            <h3>
                <div><u>Website Optimization</u></div>
            </h3>
            <p>
                Is your website boring? Is your website out of date? Does it just not have that modern moving shit with a simplistic design and intuitive menu feel that you've grown so accustom to seeing on every hip website for a startup coming out of silicon valley? Do you just not want to have to pay to remove that annoying "wix.com" from the footer of your Wix website? Well have I got good news for you!
            </p>
        </div>
    &nbsp;
        