
        <div class="center">
            <h3>
                <div><u>Social Media Profile Creation</u></div>
            </h3>
            <p>
                We're professionsals when it comes to social media. At Social Curation, each of our staff members are required to not only create new social media accounts on all popular platforms in addition to their already existing accounts, but maintain these accounts using the latest best social media practices. If you need an account update, new personal account, or fake account* you can be sure that you're in the best hands. We literally do nothing but practice SEO and social media growth strategies in our spare time. 
            </p>
        </div>
    &nbsp;