        <div class="center">
            <h3>
                <div><u>Social Media Curation</u></div>
            </h3>
            <p>
                Want more Instagram followers? More Facebook friends? I got you. Besides writing code alone in my one room apt, curating my 45 individual social media personalities is literally the only thing that makes me believe for a second that I have friends. And thats why I'm so good at it.
            </p>
        </div>
        