        <h4>What we do:</h4>
            <ul>
                <li><strong>Friendship?</strong> Only online.</li> 
                <li><strong>Hobbies?</strong> No.</li> 
                <li><strong>Tinder?</strong> My 45 Facebook accounts all have their own Tinder.</li>
                <li><strong>Alcohol?</strong> I haven't stopped drinking for 2 years, because of the stress of maintaining popularity on every existing social media platform for 45 different, imaginary people.
                <li><strong>Who am I?</strong> No idea at this point.</li> 
                <li><strong>What can I do for you?</strong> Fucking Social Media, thats what.</li>  
            </ul>
        &nbsp;