<h4>I code in all these languages/libraries!</h4>
        <ul>
            <li><strong>Ruby</strong></li>
            <li><strong>Ruby on Rails</strong>(I wrote this website in ROR)</li>
            <li><strong>HTML5</strong></li>
            <li><strong>CSS/SASS</strong></li>
            <li><strong>Bootstrap</strong></li>
            <li><strong>SQLite</strong></li>
            <li><strong>JQuery</strong></li>
        </ul>
    <div class="center">
        <p>
            I can make your website faster! Cooler looking! Slower! Better! Whatever you want your website to be I can do it! Cats everywhere? Done. A picture of your aunt making out with Ted Cruz on a buring airship? I've already photoshopped it and uploaded it to your website! It's done! Really, even if you want it to look shitty I'll set it up! Bam!
        </p>
        &nbsp;