        <ul>
            <li><strong>Not enough Facebook friends?</strong> I'll make you seem more fun, post some engaging stuff, join like 16 Facebook groups and constantly start meaningful threads in them. You'll be so popular you won't ever have time for your real friends!</li>
            <li><strong>Want Instagram followers?</strong> I got you! Not only will I collect and analyze your Instagram data for you, I'll post in a consistent manner following engagment trends to maximize your likes and steadily gain followers.</li>
            <li><strong>Is that putting too much thought into social media?</strong> Only if you don't want to be good at it!</li>
            <li><strong>Guess what else?</strong> Linkedin: Done. Youtube: Super Done. Literally every form of social media: Done. Anything I don't know: I'll learn it, implement best practices, and make your account successful! I'll even make the accounts!</li>
        </ul>
    &nbsp;