<div class="center">
        <div class="flexslider">
                <ul class="slides">
                        <li>
                                <%= link_to image_tag('christine-fb.png'), root_path(:anchor=> "social") %>
                                <h1><%= link_to "Social Media Profile Creation", root_path(:anchor=> "social") %></h1>
                        </li>
                        <li>
                                <%= link_to image_tag('SEO-bkg.jpg'), root_path(:anchor=> "SEO") %>
                                <h1><%= link_to "SEO Analysis & Improvement", root_path(:anchor=> "SEO") %></h1>
                        </li>
                        <li>
                                <%= link_to image_tag('Website-image.jpg'), root_path(:anchor=> "website") %>
                                <h1><%= link_to "Website Optimization", root_path(:anchor=> "website") %></h1>
                        </li>
                        <li>
                                <%= link_to image_tag('social-media.jpg'), root_path(:anchor=> "social-med") %>
                                <h1><%= link_to "Social Media Curation", root_path(:anchor=> "social-med") %></h1>
                        </li>
                </ul>
        </div>
</div>