<div id="head-slide">
  <div class="bcg">

        <div id="logo">
          <span>
            <u>Social Curation</u>
          </span>
        </div>
        
        <div id="logo-two">
          <span>
            Social Media Optimization | SEO | Full Service Web Development
          </span>
        </div>
        
<%= render 'slide' %>
  
  

<div id="slide-menu">
  <div class="bcg">
    <h1><span>
      Services
    </span></h1>
  </div>
</div>

</div>
</div>



<div id="slide-bcg">
  <div class="bcg" id="social">
      
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
          
          <div clas="slide-test">
            <div class="bcg">
              <div id="slides-padded">
                <%= render 'serv1' %>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-6">
          
          <div id="slide-test">
            <div class="bcg">
              <div id="slides-padded">
                <%= render 'serv1-5' %>
              </div>
            </div>
          </div>
          
        </div>
    </div>
</div>


</div>
</div>


<div id="slide-bcg">
  <div class="bcg" id="SEO">
    
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
          
          <div class="slide-test">
            <div class="bcg">
              <div id="slides-padded">
                <%= render 'serv2-5' %>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-6">
          
          <div class="slide-test">
            <div class="bcg">
              <div id="slides-padded">
                <%= render 'serv2' %>
              </div>
            </div>
          </div>
          
        </div>
    </div>
</div>

</div>
</div>

<div id="slide-bcg">
  <div class="bcg" id="website">
    
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
          
          <div class="slide-test">
            <div class="bcg">
              <div id="slides-padded">
                <%= render 'serv3' %>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-6">
          
          <div class="slide-test">
            <div class="bcg">
              <div id="slides-padded">
                <%= render 'serv3-5' %>
              </div>
            </div>
          </div>
          
        </div>
    </div>
</div>

</div>
</div>

<div id="slide-bcg">
  <div class="bcg" id="social-med">
    
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
          
          <div class="slide-test">
            <div class="bcg">
              <div id="slides-padded">
                <%= render 'serv4-5' %>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-lg-6">
          
          <div class="slide-test">
            <div class="bcg">
              <div id="slides-padded">
                <%= render 'serv4' %>
              </div>
            </div>
          </div>
          
        </div>
    </div>
</div>

</div>
</div>

<div id="slide-bcg-s">
  <div class="bcg">
    <%= image_tag 'swoop.png', style: 'width:100%;' %>
  </div>
</div>


<div id="slide-bcg-bottom">
  <div class="bcg">

<div class="slider">
<div id="slide-menu">
  <div class="bcg">
    <h1 class="pricing"><span>
      <a>Pricing</a>
    </span></h1>
  </div>
</div>


<div class="hidden-div">
<div class="container">
<div class="slide-test-bottom">
  <div class="bcg">
    <div id="slides-padded">
      &nbsp;
        <%= render 'products' %>
    </div>
  </div>
</div>
</div>

<div class="slide-bcg-bottom">
  <div class="bcg">
  </div>
</div>

<div class="container">
<div class="slide-test-bottom">
  <div class="bcg">
    <div id="slides-padded">
      &nbsp;
        <%= render 'products-5' %>
    </div>
  </div>
</div>
</div>
</div>

</div>

<div id="slide-bcg-bottom">
  <div class="bcg">
  </div>
</div>

<div>
<div id="slide-menu">
  <div class="bcg">
    <h1><span>
      Contact Us
    </span></h1>
  </div>
</div>

<div class="div">   
    <div class="container">
      <div id="slide-test-bottom">
        <div class="bcg">
          <div id="slides-padded">
          &nbsp;
          <%= render 'messages/new' %>
          </div>
        </div>
      </div>
    </div>
</div> 

</div>

<div id="slide-bcg-bottom">
  <div class="bcg">
  </div>
</div>

</div>
</div>

