<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

<div id="logo-phone">
    Social Curation
</div>

&nbsp;

<div class="slider">
<div id="slide-menu">
  <div class="bcg">
    <div class="phone-logo center"><span>
      <a>Services</a>
    </span></div>
  </div>
</div>

&nbsp;

<div class="hidden-div">
        <%= render 'services_mobile' %>
</div>
</div>

&nbsp;

<div class="slider">
<div id="slide-menu">
  <div class="bcg">
    <div class="phone-logo center"><span>
      <a>Pricing</a>
    </span></div>
  </div>
</div>

&nbsp;

<div class="hidden-div">
        <%= render 'products' %>
      &nbsp;
        <%= render 'products-5' %>
</div>
</div>

&nbsp;


        <div class="center">
          <%= render 'messages/new' %>
        </div>

</div>

</meta>