<div clas="row">
<div class="col-md-6 col-centered">
<div class="colored" id="div1" onclick="setColor(this)"></div>
<div class="colored" id="div2" onclick="setColor(this)"></div>
<div class="colored" id="div3" onclick="setColor(this)"></div>
<div class="colored" id="div4" onclick="setColor(this)"></div>
</div>
</div>

<div clas="row">

<div class="colored" id="div5" onclick="setColor(this)"></div>
<div class="colored" id="div6" onclick="setColor(this)"></div>
<div class="colored" id="div7" onclick="setColor(this)"></div>
<div class="colored" id="div8" onclick="setColor(this)"></div>

</div>

<button onclick="buttonCheck()">Try it</button>
<h1 id="demo"></h1>

