<% @message = Message.new %>
  <div class="col-sm-6 col-centered">
    <h5>Interested in any of our services?</h5> 
    <h5>Have questions about what we do?</h5> 
    <h5>Don't hesitate to contact us!</h5>
    &nbsp;
    <%= form_for @message, url: create_message_url do |f| %>
      <%= notice %>
      <%= @message.errors.full_messages.join(', ') %>

      <%= f.text_field :name, placeholder: 'name' %>
      <%= f.email_field :email, placeholder: 'email' %>
      <%= f.text_area :content, placeholder: 'message' %>
      <%= f.submit 'Send' %>
    <% end %>
    &nbsp;
    <p class="tiny">*Fake accounts will not be made to impersonate existing people. Fake accounts may not be used to harrass anyone in any way. Failure to comply with these rules and all rules outlined in our contracts and/or about page will result in termination of your service(s) and/or contract(s). By using our any of our services/website you agree to these terms and that you will not hold the owner/creator of this website liable for any and all damages, legal and/or otherwise.</p>
  </div>
