<header class="navbar navbar-default navbar-static-top">
    <div class="container">
        <%= link_to "Social Curation", root_path, method: :get, id: "logo" %>
    </div>
    <br>
    <div class="container-center">
        <nav>
            <ul class="nav navbar-nav">
                <li><%= link_to "Services", services_path, id: "logo-three" %></li>
                <li><%= link_to "Create Your Profile", new_message_path, id: "logo-two" %></li>
                <li><%= link_to "Pricing & About", about_path, id: "logo-three" %></li>
            </ul>
        </nav>
    </div>
</header>