<header class="navbar navbar-default navbar-static-top">
    <div class="container">
            <%= render 'layouts/menu' %>
    </div>
    <br>
    <div class="container-center">
        <%= link_to "Social Curation", root_path, method: :get, id: "logo" %>
    </body>
</header>