<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= favicon_link_tag 'favicon.ico' %>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="skrollr-body">
        <%= render 'layouts/application_layout' %>
        <%= yield %>
   
      <script type="text/javascript">
      $(function(){
        skrollr.init({forceHeight: false});
      });
      </script>   
	  
	  </div>
  </body>
</html>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

