<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= favicon_link_tag 'favicon.ico' %>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      
  </head>
    <body id="phone-body">
    <%= render 'layouts/application_layout' %>
    <%= yield %>

  </body>
</html>



<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">